<div class="jumbtron text-center">
	<h2>Peeps!</h2>

	<div class="btn-group" role="group" aria-label="people groups">
		<button type="button" class="btn-default">All</button>
		<button type="button" class="btn-default">My Friends</button>
		<button type="button" class="btn-default">Request</button>
		<button type="button" class="btn-default">Pending</button>
	</div>
</div>

<div class="container">
<div class="row">
	<%= render @users %>
</div>
</div>